*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{

    background: linear-gradient(338deg, rgba(18,18,27,1) 0%, rgba(39,52,74,1) 49%);
    color: white;
    }



.main-content{
    display: flex;
}


.content{
    display: flex;
    height: 91vh;
    flex-direction: column;
    overflow-y: auto;
}



/*---HEADER---*/


header{
    background-color: #05050f75;
    width: 100%;
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;

}

header button{
    width: 300px;
    height: 60px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    border-color: white;
    margin-right: 1%;
    font-size: large;
}

/*---/HEADER---*/


/*---SIDE SECTION---*/

aside {
    background-color: black;
    padding: 20px;
    position: relative;
}

#logo{
    width: 70%;
    margin-bottom: 40px;
    
}

aside nav p,h4,li{
    margin-bottom: 30px;
    list-style-type: none;
}

aside i{
    font-size: larger;
}

.fa-plus{    background-color: lightgray;
    color: black;
    padding: 10px;
}

.profile{
    position: absolute;
    bottom: 0px;
}

#install{
    margin-bottom: 10px;
    border-bottom: solid 1px;
    padding-bottom: 10px;
}
/*---/SIDE SECTION---*/

/*---MAIN---*/



.main-header{
    list-style-type: none;
    display: flex;
    justify-content:space-around;

}

.main-header li{
    display: inline-block;
    margin: 20px;
    color: lightgrey;
}


h2, h3{
    
    margin: 20px 0px 20px 0px;
    
}
h2{
    margin-left: 18px;
}


p,li{
    color: rgb(151, 151, 151);
}


/*---PLAYED SECTION---*/
.album-section{
    display: flex;   
    justify-content: space-between;
}

.cover{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    text-align: center;
    padding: 15px;
}
/*---/PLAYED SECTION---*/

/*---RACCOMANDED SECTION---*/

section p {
    margin-left: 18px;
}

.raccomanded{
    display: flex;
}
.raccomanded-cover{
    text-align: center;
    padding: 15px;
}


/*---/RACCOMANDED SECTION---*/

/*---POPULAR SECTION---*/

.popular{
    border-radius: 50%;
}


/*---/POPULAR SECTION---*/


/*---/MAIN---*/


/*---FOOTER---*/

footer{
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-player{
    display: flex;
    align-items: center;
    padding: 20px;
}


footer img {
    width: 15%;
    margin: 0px 20px 0px 0px;
}

.player-btn{
    font-size:xx-large;
    padding: 20px;
    text-align: center;
}

.song-info{
    display: flex;
    flex-direction: column;
}


.icon {
    color: lightgray;
    margin: 0px 5px 0px 30px;
}

.player-icon {
    color: white;
    margin-right: 20px;
}

.timer{
    display: flex;
    align-items: center;
}
.play-bar{
    width: 50vh;
    background-color: rgb(78, 78, 78);
    height: 5px;
    margin: 0px 20px 0px 20px;
}

.reproduced{
    height: 5px;
    width: 50%;
    background-color: lightgray;
}

.volume-dx{
    padding: 20px;
    justify-items: center;
}

.right-player{
    display: flex;
}

.volume{
    width: 8vw;
}
/*---/FOOTER---*/