*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{

    background: linear-gradient(338deg, rgba(18,18,27,1) 0%, rgba(39,52,74,1) 49%);
    color: white;
    
    }



.main-content{
    display: flex;
    height: calc(100vh - 100px);
}


.content{
    overflow-y: auto;
   
}



/*---HEADER---*/


header{
    background-color: #05050f75;
    width: 100%;
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;

}

header button{
    width: 300px;
    height: 60px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    border-color: white;
    margin-right: 1%;
    font-size: large;
}

/*---/HEADER---*/


/*---SIDE SECTION---*/

aside {
    background-color: black;
    padding: 20px;
    position: relative;
    width: 300px;
}

#logo{
    margin-bottom: 40px;
    width: 200px;
    
}

#logo-small{
    display: none;
}

aside nav div p{
    display: inline-block;
}

aside nav div {
    margin-bottom: 20px;
}

aside nav p,h4,li{
    margin-bottom: 10%;
    list-style-type: none;
}

aside i{
    font-size: larger;
}

.fa-plus{    background-color: lightgray;
    color: black;
    padding: 10px;
}

.profile{
    position: absolute;
    bottom: 0px;
}

#install{
    margin-bottom: 10px;
    border-bottom: solid 1px;
    padding-bottom: 10px;
}
/*---/SIDE SECTION---*/

/*---MAIN---*/



.main-header{
    list-style-type: none;
    display: flex;
    justify-content:space-around;

}

.main-header li{
    display: inline-block;
    margin: 20px;
    color: lightgrey;
}


h2, h3{
    
    margin: 20px 0px 20px 0px;
    
}
h2{
    margin-left: 18px;
}


p,li{
    color: rgb(151, 151, 151);
}


/*---PLAYED SECTION---*/
.album-section{
    display: flex;   
    flex-wrap: wrap;
}

.cover{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    width: calc(100% / 6);
    
}


/*---/PLAYED SECTION---*/

/*---RACCOMANDED SECTION---*/

section p {
    margin-left: 18px;
}

.raccomanded{
    display: flex;

}
.raccomanded-cover{
    text-align: center;
    padding: 15px;
}


/*---/RACCOMANDED SECTION---*/

/*---POPULAR SECTION---*/

.popular{
    border-radius: 50%;
}


/*---/POPULAR SECTION---*/


/*---/MAIN---*/


/*---FOOTER---*/

footer{
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.left-player{
    display: flex;
    align-items: center;
    padding: 20px;
}


footer img {
    width: 70px;
    margin: 0px 20px 0px 0px;
}

.width50{
    width:50%;
}

.player-btn{
    font-size:xx-large;
    padding: 1%;
    text-align: center;
}

.song-info{
    display: flex;
    flex-direction: column;
}


.icon {
    color: lightgray;
    margin: 0% 1% 0% 5%;
}

.player-icon {
    color: white;
}

.timer{
    display: flex;
    align-items: center;
}
.play-bar{
    width: 100%;
    background-color: rgb(78, 78, 78);
    height: 5px;
    margin: 0px 20px 0px 20px;
}

.reproduced{
    height: 5px;
    width: 50%;
    background-color: lightgray;
}

.volume-dx{
    padding: 20px;
    justify-items: center;
}

.right-player{
    display: flex;
}

.volume{
    width: 8vw;
}
/*---/FOOTER---*/


@media screen and (max-width: 1440px) {

    .cover {
        
        width: calc(100% / 4);
       
    }
}

@media screen and (max-width: 580px) {

    .cover{
        width: calc(100% / 2);
    }
    
    #logo{
        display: none;
    }

    #logo-small{
        display: inline-block;
        width: 100%;
        margin-bottom: 40px;
    }

    aside{
        width: 100px;
    }
    aside nav div p, nav h4, nav ul li{
        display: none;
    }

    

}