*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{

    background: linear-gradient(338deg, rgba(8,6,38,1) 0%, rgba(65,65,96,1) 54%);
    
    }

/*---HEADER---*/

header{
    background-color: #05050f82;
    width: 100%;
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;

}

header button{
    width: 300px;
    height: 60px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    border-color: white;
    margin-right: 1%;
    font-size: large;
}

/*---/HEADER---*/

/*---MAIN---*/



.main-header{
    list-style-type: none;
    display: flex;
    justify-content:space-around;

}

.main-header li{
    display: inline-block;
    margin: 20px;
    color: lightgrey;
}


h2, h3{
    color: white;
    margin: 20px 0px 20px 0px;
    
}
h2{
    margin-left: 18px;
}


p{
    color: lightgray;
}


/*---PLAYED SECTION---*/
.album-section{
    display: flex;   
    justify-content: space-between;
}

.cover{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    text-align: center;
    padding: 15px;
}
/*---/PLAYED SECTION---*/

/*---RACCOMANDED SECTION---*/

section p {
    margin-left: 18px;
}

.raccomanded{
    display: flex;
}
.raccomanded-cover{
    text-align: center;
    padding: 15px;
}


/*---/RACCOMANDED SECTION---*/

/*---POPULAR SECTION---*/

.popular{
    border-radius: 50%;
}


/*---/POPULAR SECTION---*/


/*---/MAIN---*/


/*---FOOTER---*/

footer{
    background-color: black;
}

/*---/FOOTER---*/